.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.admin-dashboard{
  text-align: center;
}

.center-table {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.table-count {
  margin-right: 18px;
  text-align: right;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f4f4f4; /* Change the background color */
  border: 2px solid #333; /* Add dark border around the table */
}

.data-table th {
  background-color: #90a2a9;
  color: #333;
  padding: 8px;
  text-align: left;
  border: 2px solid #333; /* Add dark border around column headers */
}
 .data-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc; /* Change the border color */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loading {
  font-size: 25px;
  font-weight: bold;
}

.view-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.view-details {
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.detail {
  margin-bottom: 10px;
}

.detail-value {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  width: 350px;
  height: 20px;
}

.detail-value-message {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  width: 350px;
  height: 110px;
}

.back-button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.back-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.back-button:hover {
  background-color: #0056b3;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.edit-details {
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.detail-two{
  margin-bottom: 10px;
}

.detail-value-two {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  width: 350px;
  height: 20px;
}

.detail-value-two-message {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  width: 350px;
  height: 110px;
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.save-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.cancel-button {
  margin-left: 10px;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #e74064;;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.save-button:hover {
  background-color: #0056b3;
}

.cancel-button:hover {
  background-color: #999;
}

.pagination {
  align-items: center;
  margin-top: 10px;
}

.previous-button {
  margin-right: 10px;
  background-color: grey;
  color: white;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.previous-button:hover {
  background-color: #007bff;
}

.next-button {
  margin-left: 10px;
  background-color: grey;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.next-button:hover {
  background-color: #007bff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
